extends ../template/layout

block content
  p#delete-error.error-text
  .row
    .small-12.columns
      if userData.length
        each u in userData
          .row
            .small-12.columns
              .panel
                h3
                  span= u.profile.lastName
                  span= ", "
                  span= u.profile.firstName
                h5.subheader= u.isAdmin ? "Administrator":"Subscriber"
                h5.subheader= u.email
                p
                  span= u.profile.city
                  span= ", "
                  span= u.profile.state
                p
                  span= "Member Since: "
                  span= moment(u.createdAt).format('MM/DD/YYYY')